mat-drawer-container{
    max-height: calc(100vh - 70px);
    height:  100%;
}
mat-drawer{
    width: 250px;
}
.headerName{
    margin-right: 10px !important;
    color: white;
    font-size: 28px !important  ;
}
mat-toolbar{
    height: 70px;
    padding:0px 50px;
    background-color: blueviolet !important;
}
mat-drawer-content{
    padding:20px;
    background-color: whitesmoke;
}
.icon{
    color: white;
}