<mat-toolbar class="headerCategory">
    <h3>Advertising</h3>
    <div class="searchFilter">
       <div>
            <button mat-icon-button class="iconButton" (click)="addDialog()">
                <mat-icon class="icon">add_circle</mat-icon>
            </button>
       </div>
    </div>
</mat-toolbar>


<div class="mat-elevation-z8 table">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element"> {{element.image}} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Created Date </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef> Updated Date </th>
        <td mat-cell *matCellDef="let element"> {{element.updatedAt}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="edit" (click)='edit()'>edit</mat-icon>
          <mat-icon class="delete" (click)="delete()">delete</mat-icon>
        </td>
      </ng-container>

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<mat-toolbar class="toolbar">
    <mat-paginator [pageSizeOptions]="[10, 50, 100]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
</mat-toolbar>