<mat-toolbar class="headerCategory">
    <h3>Users</h3>
    <div class="searchFilter">
        <div class="inputContainer">
            <input type="text" placeholder="Search..." class="input">
        </div>
       <div>
            <button mat-icon-button class="iconButton" (click)="filterDialog()">
                <mat-icon class="icon">filter_list</mat-icon>
            </button>
       </div>
    </div>
</mat-toolbar>



<div class="mat-elevation-z8 table">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef> FullName </th>
        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>
  
      <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef> Contact </th>
        <td mat-cell *matCellDef="let element"> 0{{element.contact}} </td>
      </ng-container>
  
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<mat-toolbar class="toolbar">
    <mat-paginator [pageSizeOptions]="[10, 50, 100]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
</mat-toolbar>