<div class="mainContent">
    <mat-toolbar>
      <h3>Create Product</h3>
    </mat-toolbar>
  
    <mat-toolbar class="middle">
      <mat-form-field>
        <mat-label>Product Name</mat-label>
        <input type="text" matInput placeholder="Enter Product Name"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select>
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input type="number" matInput placeholder="Enter Price"/>
      </mat-form-field>
      <div>
        <input type="file" placeholder="Upload">
      </div>
    </mat-toolbar>
  
    <div class="buttonGroup">
      <button mat-raised-button class="cancelBtn" (click)="cancel()">
        Cancel
      </button>
      <button mat-raised-button class="saveBtn" (click)="createBtn()">
        Create
      </button>
    </div>
  </div>
  