<div>
    <h3> Create Advertising </h3>

    <div class="fileUpload">
        <div>
            <label for="upload"></label>
            <input type="file" name="upload" id="upload">
        </div>
        <div class="outputContainer">
            <img src="dashboard.png" alt="hello" class="outputImage">
        </div>
    </div>

    <div class="buttonGp">
        <button mat-raised-button class="noBtn">Cancel</button>
        <button mat-raised-button class="yesBtn">Create</button>
    </div>
</div>