<div class="main">
    <div class="header">
        <h2>E-Commerce</h2>
    </div>
    <form (submit)="login()">
        <h3>Login</h3>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter email"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter Password"/>
        </mat-form-field>
        <div>
            <mat-checkbox>Remember Me</mat-checkbox>
        </div>
        <div class="btnGroup">
            <button mat-raised-button class="btn">Login</button>
        </div>
    </form>
</div>